.auth-layout {
    min-height: 100vh;
    background-color: #0b0c10;
    display: flex;
    flex-direction: column;
}

.auth-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    /* Space for navbar */
}